<% if flash[:notice].present? %>
  <div class="toast">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>

 <% if flash[:slert].present? %>
  <div class="toast">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>