<div class="content-wrapper">
  <div class="content-block">
    <div class="content">
      <div class="user-about">
        <div class="image">
        <%= image_tag "IMG_6389.jpg" %>
        </div>
        <div class="profile">
          <div class="name-block">
              <div class="name">
              だーん
              </div>
              <div class="detail">
              アプリ利用歴: 半年
              </div>
            </div>
          <div class="purpose">
          目的: 日本のいろんなお店を開拓したい！
          </div>
        </div>
      </div>

      <div class="text">
      <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストですv</p>
      <p>これはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストですこれはサンプルテキストですv</p>
      </div>
      <div class="action-menu"></div>
      </div>
   </div>
  <div class="sidebar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
